
	{% extends "home/header.html"%}
	{% block content%}

	<div style="margin-top: 50px;">
		<center>
			<h1>OUR PROJECTS</h1>
		</center>

	</div>
	
		<div class="container">
			 <div class="row">
			 	<div class="col-6 col-md-4">project</div>
			    <div class="col-12 col-md-8">description..........</div>
			 </div>
			 <div class="row">
			 	<div class="col-6 col-md-4">project</div>
			    <div class="col-12 col-md-8"  >description..........</div>
			 </div>
			 <div class="row">
			 	<div class="col-6 col-md-4">project</div>
			    <div class="col-12 col-md-8">description..........</div>
			 </div>
			 <div class="row">
			 	<div class="col-6 col-md-4">project</div>
			    <div class="col-12 col-md-8">description..........</div>
			 </div>
			 <div class="row">
			 	<div class="col-6 col-md-4">project</div>
			    <div class="col-12 col-md-8">description..........</div>
			 </div>
		</div>
	{% endblock %}

