
		{% extends "home/header.html"%}
		{% block content%}
<div class="header" style="background-color:black;">
			<center>

				<h1 style="padding-top:30px ; color:white;" >MEET OUR TEAM</h1>
				<p style="letter-spacing: 2px; padding-bottom:30px;color:white;">NIT WARANGAL'S   CYBER SECURITY ENTHUSIATICS</p>
			</center>
		</div>

		<div class="container">
			<center>
				<h1>mentors</h1>
			</center>

			<div class="team">
						<div class="row">
							<div class=" shadow-lg card " style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title" >Shubham Giri</h4>
					    			<p class="card-text" >
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>
							<div class=" shadow-lg card" style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title">John Doe</h4>
					    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>
							<div class=" shadow-lg card" style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title">John Doe</h4>
					    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>

						</div>
						<div class="row">
							<div class=" shadow-lg card" style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title">John Doe</h4>
					    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>
							<div class=" shadow-lg card" style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title">John Doe</h4>
					    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>
							<div class=" shadow-lg card" style="width:275px">
					  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
					  			<div class="card-body">
					    			<h4 class="card-title">John Doe</h4>
					    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
					    			
					 			 </div>
							</div>

						</div>
		</div>
		<div class="container">
			<center>

				<h1 style="padding-top:30px">executive members</h1>
				
			</center>

			
						
					
					<div class="row" id="row-team">
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>

					</div>
					<div class="row" id="row-team">
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>

					</div>
					<div class="row" align="center" id="row-team">
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>

					</div>
					
					<div class="row" id="row-team">
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">Shubham Giri</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>

					</div>

					<div class="row" id="row-team">
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">Shubham Giri</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>
						<div class=" shadow-lg card" style="width:275px">
				  			<img class="card-img-top" src="../static/home/images/shubham.jpg
					    				
					    				" alt="Card image">
				  			<div class="card-body">
				    			<h4 class="card-title">John Doe</h4>
				    			<p class="card-text">
					    				
					    				<b style="font-size: 20px">Founder</b>
					    				<br>
					    				bio-tech 1st year
					    				<br>
					    				ishubs@yahoo.com
					    				<br>
					    				6360861215
					    				<br>
					    			</p>
				    			
				 			 </div>
						</div>

					</div>

		</div>
	</div>


		{% endblock %}
