html body{
  font-family: "Orbitron";

}
/*navbar */
.navbar-nav{
  margin-left: 60px;
}
.nav-item{
  width: 50px;
  margin-right: 50px;
  margin-left: 50px;

}
.login{

  margin:0;
  padding-top: 23px;
  margin-left: 223px;
}

/* team*/


.team{
  align-content: center !important;

  }
.row{
  margin: auto;
  align-content: center !important;
}
.card{
  
  margin: 40px;
  display: inline;
}
.card:hover{
   /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  background-color: black;
  color: white;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.card-title {
  text-align: center;
}
.card-text{
  text-align: center;  
}
#row-team{
  margin: auto;
  align-content: center !important;
 }

/*css for projects*/

.col-6{
  border:2px solid red;
  border-radius:5px;
  height: 150px;
}
.col-12{
  border:2px solid red;
  border-radius:5px;
  height: 150px
}
.col-6:hover{
  border-width: 10px;
  
 }


.container>.row{
  margin:50px;
}


/*animation*/
img:hover {
 
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}